@tailwind base;
@tailwind components;
@tailwind utilities;

/* animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s; */
/* animation: fadeIn 5s; */
.greet-text {
  opacity: 0;
  /* display: none; */
  animation: fadeIn 5s forwards;
}
.greet-text-wrapper {
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
@keyframes reveal {
  0% {
    transform: translate(0, 300%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
